.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
  padding-top: 20px;
}

.hero img {
  margin-top: 80px;
  border-radius: 50%;
  height: 200px;
  transition: transform 0.3s ease;
}

.hero img:hover {
  transform: scale(1.03);
}

.hero h1 {
  text-align: center;
  width: 70%;
  font-size: 40px;
  font-weight: 600;
}

.hero h1 span {
  background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  width: 50%;
  text-align: center;
  font-size: 18px;
  line-height: 25px;
}

.hero-action {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 50px;
  /*width: 30%;*/
  /*justify-content: space-between;*/
}

.hero-connect {
  padding: 10px 20px;
  border-radius: 50px;
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
  cursor: pointer;
  font-size: 15px;
  transition: border 0.3s ease;
  border: 1px solid #ffffff;
}
.hero-resume {
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 15px;
  border: 1px solid #fff;
  cursor: pointer;
  transition: border 0.2s ease;
}

.hero-connect:hover {
  border-color: #b415ff;
}

.hero-resume:hover {
  border-color: #b415ff;
}

.anchor-link {
  text-decoration: none;
  color: white;
}

@media (max-width: 768px) {
  .hero {
    gap: 10px;
  }

  .hero img {
    margin-top: 100px;
  }

  .hero h1 {
    margin-top: 45px;
    font-size: 30px;
    width: 90%;
  }

  .hero p {
    width: 60%;
    font-size: 16px;
    line-height: 25px;
    margin: 10px 0px;
  }

  .hero-action {
    gap: 16px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
    margin-top: 20px;
    /*width: auto;*/
  }

  .hero-connect {
    padding: 10px 15px;
    border-radius: 40px;
  }

  .hero-resume {
    padding: 10px 15px;
    border-radius: 40px;
  }
}

@media (max-width: 500px) {
  .hero {
    padding-top: 0px;
  }

  .hero h1 {
    font-size: 28px;
  }

  .hero img {
    height: 160px;
  }

  .hero p {
    font-size: 14px;
  }

  .hero-resume,
  .hero-connect {
    font-size: 10px;
  }
}
