.container {
  width: 100%;
  display: flex;
  justify-content: space-around; /* ravnomjerno rasporedi slike */
  align-items: center;
  flex-wrap: wrap; /* ako bude premalo prostora da se spakuju u red */
  background-color: rgba(128, 128, 128, 0.103);
  margin: 50px 0;
}

.image {
  max-width: 100px;
  height: auto;
  filter: grayscale(100%);
  transition: filter 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.image:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
}

.ms {
  width: 60px;
}

.pulse {
  width: 60px;
}

@media screen and (max-width: 500px) {
  .image {
    width: 60px;
  }

  .pulse {
    width: 35px;
  }

  .ms {
    width: 35px;
  }
}
