.mywork {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 80px 20px;
}

.myworks {
  position: relative;
}

.title {
  font-size: 40px;
  font-weight: 600;
  text-align: center;
}

.img {
  position: absolute;
  bottom: 0;
  right: 40px;
  z-index: -1;
  width: 90px !important;
}

.carouselContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.arrow {
  background: none;
  color: white;
  border: none;
  font-size: 30px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.arrow:hover {
  transform: scale(1.2);
}

.carouselWrapper {
  overflow: hidden;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.horizontalScroll {
  display: flex;
  gap: 15px;
  transition: transform 0.6s ease-in-out;
}

.workItem {
  flex: 0 0 auto;
  width: 200px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(0.95);
  opacity: 0.8;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.workItem.active {
  transform: scale(1);
  opacity: 1;
}

.workItem img {
  width: 100%;
  aspect-ratio: 4/5;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.workItem:hover img {
  transform: scale(1.05);
}

.workItem p {
  margin-top: 8px;
  font-size: 14px;
  text-align: center;
  color: #333;
  transition: color 0.3s ease-in-out;
}

.workItem:hover p {
  color: #000;
}

/* Responsive */
@media (max-width: 1200px) {
  .workItem {
    width: 180px;
  }
}

@media (max-width: 992px) {
  .workItem {
    width: 160px;
  }
  .carouselContainer {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .workItem {
    width: 140px;
  }
  .title {
    font-size: 30px;
  }

  .img {
    right: -20px;
    width: 130px;
  }
}

@media (max-width: 500px) {
  .workItem {
    width: 100%; /* prikaži samo jednu sliku na mobilnom */
  }

  .title {
    padding-top: 20px;
  }
}
