.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 110px;
}

.about-title {
  position: relative;
}

.about-title h1 {
  padding: 0 30px;
  font-size: 40px;
  font-weight: 600;
  padding-top: 15px;
}

.about-title img {
  position: absolute;
  bottom: 0;
  right: 70px;
  z-index: -1;
  width: 90px !important;
}

.about-sections {
  display: flex;
  gap: 80px;
}

.about-left img {
  width: 300px;
  aspect-ratio: 4 / 5;
  object-fit: cover;
}

.about-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.about-para {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
  font-weight: 500;
  text-indent: 50px;
  text-align: center;
}

.about-skills {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-skill {
  display: flex;
  align-items: center;
  gap: 50px;
  transition: 0.3s;
  cursor: pointer;
}

.about-skill p {
  min-width: 150px;
  font-weight: bolder;
  font-size: 15px;
}

.about-skill hr {
  outline: none;
  border: none;
  width: 50%;
  height: 6px;
  border-radius: 50px;
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
}

.about-achievements {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 80px;
}

.about-achievement {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: 0.5s;
  cursor: pointer;
}

.about-achievement h1 {
  font-size: 30px;
  font-weight: 700;
  background: linear-gradient(270deg, #df8908 50.41%, #b415ff 90.25%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.about-achievement p {
  font-size: 14px;
  font-weight: 500;
}

.about-skill:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.about-achievement:hover {
  transform: scale(1.12);
  transition: 0.5s;
}

@media (max-width: 1000px) {
  .about {
    margin: 80px 60px;
  }

  .about-skill p {
    min-width: 100px;
  }

  .about-para {
    font-size: 13px;
  }

  .about-skill p {
    font-size: 13px;
  }

  .about-skill hr {
    height: 4px;
  }

  .about-skill {
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .about {
    gap: 60px;
    margin: 100px 70px 50px 70px;
  }

  .about-title h1 {
    font-size: 30px;
    padding: 0;
    padding-top: 20px;
  }

  .about-title img {
    width: 130px;
    right: -20px;
  }

  .about-sections {
    flex-direction: column;
  }

  .about-left {
    display: none;
  }

  .about-para {
    font-size: 16px;
    line-height: 25px;
  }

  .about-skills {
    padding-top: 60px;
  }

  .about-skill {
    gap: 20px;
    align-items: center;
  }

  .about-skill p {
    font-size: 18px;
  }

  .about-skill hr {
    height: 5px;
  }

  .about-achievements {
    justify-content: space-between;
  }

  .about-achievement {
    gap: 10px;
    padding: 0 13px;
  }

  .about-achievement h1 {
    font-size: 30px;
    font-weight: 700;
  }

  .about-achievement p {
    text-align: center;
    font-size: 13px;
  }
}

@media (max-width: 500px) {
  .about {
    margin: 50px 30px;
    gap: 40px;
  }

  .about-title h1 {
    font-size: 28px;
  }

  .about-para {
    font-size: 14px;
    line-height: 20px;
  }

  .about-skill p {
    font-size: 15px;
  }

  .about-skill hr {
    height: 4px;
  }

  .about-achievement h1 {
    font-size: 25px;
  }

  .about-achievement p {
    font-size: 9px;
  }

  .about-achievements {
    margin-top: 20px;
  }
}
