.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin: 80px 70px;
}

.contact-title {
  position: relative;
}

.contact-title h1 {
  padding: 0 30px;
  font-size: 40px;
  font-weight: 600;
  padding-top: 20px;
}

.contact-title img {
  position: absolute;
  bottom: 0;
  right: 90px;
  z-index: -1;
  width: 90px !important;
}

.contact-section {
  display: flex;
  gap: 150px;
  width: 80%;
}

.contact-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact-left h1 {
  font-size: 30px;
  font-weight: 700;
  background: linear-gradient(270deg, #df8908 80%, #b415ff 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.contact-left p {
  max-width: 550px;
  color: #d8d8d8;
  font-size: 14px;
  line-height: 22px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #d8d8d8;
  font-size: 22px;
}

.contact-detail {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact-detail img {
  width: 20px;
}

.contact-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  width: 100%;
}

.contact-right label {
  color: #d8d8d8;
  font-size: 16px;
  font-weight: 500;
}

.contact-right input {
  border: none;

  width: 100%;
  height: 30px;
  padding-left: 10px;
  border-radius: 4px;
  background: #32323c;
  color: #a0a0a0;
  font-family: "outfit", serif;
  font-size: 14px;
}

.contact-right textarea {
  width: 650px;
  border: none;
  padding: 10px;
  border-radius: 4px;
  background: #32323c;
  color: #a0a0a0;
  font-family: "outfit", serif;
  font-size: 14px;
}

.contact-submit {
  border: none;
  color: white;
  border-radius: 50px;
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
  font-size: 14px;
  padding: 5px 30px;
  margin-bottom: 50px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 20px;
}

.contact-submit:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

@media (max-width: 768px) {
  .contact {
    gap: 50px;
    margin: 110px 70px;
  }

  .contact-title h1 {
    padding: 0;
    font-size: 30px;
    font-weight: 600;
    padding-top: 10px;
  }

  .contact-title img {
    width: 130px;
    margin-right: -20px;
  }

  .contact-section {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 40px;
  }

  .contact-left h1 {
    font-size: 28px;
    background: linear-gradient(270deg, #df8908 40%, #b415ff 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  .contact-left p {
    font-size: 15px;
  }

  .contact-details {
    gap: 8px;
  }

  .contact-detail {
    gap: 20px;
    justify-content: center;
  }

  .contact-detail img {
    width: 18px;
  }

  .contact-right {
    align-items: start;
  }

  .contact-right label {
    font-size: 12px;
  }

  .contact-right input {
    width: 100%;
    font-size: 12px;
  }

  .contact-right textarea {
    width: 95%;
    font-size: 12px;
  }

  .contact-submit {
    font-size: 11px;
    padding: 8px 25px;
    align-self: center;
  }
}

@media (max-width: 500px) {
  .contact-title h1 {
    font-size: 30px;
  }

  .contact-section {
    width: 100%;
  }

  .contact-left h1 {
    font-size: 25px;
  }

  .contact-left p {
    font-size: 15px;
  }

  .contact-detail p {
    font-size: 12px;
  }

  .contact-right label {
    font-size: 12px;
  }

  .contact-right input {
    height: 25px;
    width: 100%;
    font-size: 12px;
  }

  .contact-right textarea {
    height: 90px;
    width: 90%;
    font-size: 12px;
  }

  .contact-submit {
    font-size: 10px;
    padding: 8px 25px;
  }

  .contact {
    margin: 50px 40px;
  }
}
