.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: rgb(0, 0, 0);
  width: 100%;
  padding: 10px;
  margin: 0;
  padding: 0;
  padding: 5px 40px;
  z-index: 1000;
}

.navbar h1 {
  font-size: 20px !important;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 15px;
}

.nav-connect {
  padding: 5px 10px;
  border-radius: 50px;
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
  font-size: 13px;
  cursor: pointer;
  transition: 0.5s;
}

.nav-connect:hover {
  transform: scale(1.05);
}

.nav-menu li {
  display: flex;
  flex-direction: column;
  gap: 2px;
  cursor: pointer;
}

.nav-menu li img {
  display: flex;
  margin: auto;
}

.anchor-link {
  text-decoration: none;
  color: white;
}

.nav-mob-close {
  display: none;
}

.nav-mob-open {
  display: none;
}

.navbar-title {
  position: relative;
}

.navbar-title h1 {
  padding: 0 30px;
  font-size: 40px;
  font-weight: 600;
}

.navbar-title img {
  position: absolute;
  bottom: 0px;
  right: 20px;
  z-index: -1;
  width: 50px;
}
.underline {
  opacity: 0;
  transform: scaleX(0);
  transform-origin: center;
  transition: opacity 0.25s ease, transform 0.25s ease;
  display: block;
  margin: auto;
}

.active .underline {
  opacity: 1;
  transform: scaleX(1);
}

@media (max-width: 1000px) {
  .nav-menu {
    gap: 25px;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px 0;
  }

  .nav-connect {
    display: none;
  }

  .nav-mob-open {
    display: block;
    position: fixed;
    right: 30px;
    cursor: pointer;
    width: 18px;
  }

  .nav-mob-close {
    display: block;
    position: relative;
    top: 20px;
    left: 310px;
    width: 15px;
    cursor: pointer;
  }

  .nav-menu {
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    gap: 30px;
    background-color: #1f0016;
    width: 350px;
    height: 100%;
    z-index: 2;
    transition: right 0.5s;
    right: -350px;
  }

  .nav-menu li {
    font-size: 20px;
    padding-left: 30px;
    flex-direction: row;
    gap: 20px;
  }
}

@media (max-width: 500px) {
  .nav-menu {
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    gap: 30px;
    background-color: #1f0016;
    width: 250px;
    height: 100%;
    z-index: 2;
    transition: right 0.5s;
    right: -250px;
  }

  .nav-menu li {
    font-size: 20px;
    padding-left: 40px;
    flex-direction: row;
    gap: 20px;
  }

  .nav-mob-open {
    display: block;
    position: fixed;
    right: 30px;
    cursor: pointer;
    width: 20px;
    z-index: 2;
  }

  .nav-mob-close {
    display: block;
    position: relative;
    top: 20px;
    left: 210px;
    width: 15px;
    cursor: pointer;
  }

  .navbar-title h1 {
    font-size: 35px;
  }

  .nav-menu li {
    font-size: 17px;
    padding-left: 20px;
  }

  .nav-menu li img {
    width: 25px;
    padding-top: 3px;
  }
}
