.footer {
  margin: 50px 0px;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-top-left p {
  font-size: 16px;
  max-width: 600px;
}

.footer-top-right {
  display: flex;
  align-items: center;
  gap: 35px;
}

.footer-email-input {
  display: flex;
  gap: 30px;
  border-radius: 50px;
  background: #32323b;
  padding: 20px 80px 20px 30px;
}

.footer-email-input input {
  outline: none;
  border: none;
  background: transparent;
  color: #a0a0a0;
  font-family: "outfit", serif;
  font-size: 12px;
}

.footer-subscribe {
  font-size: 20px;
  padding: 22px 50px;
  border-radius: 50px;
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
  cursor: pointer;
  transition: 0.3s;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.footer-bottom-right {
  display: flex;
  gap: 50px;
  margin-bottom: 50px;
}

.footer-email-input:hover {
  border: 2px solid white;
}

.footer-subscribe:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.footer-title {
  position: relative;
  width: 127px;
}

.footer-title h1 {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 600;
}

.footer-title img {
  position: absolute;
  bottom: 2px;
  right: 50px;
  z-index: -1;
  width: 50px;
}

@media (max-width: 768px) {
  .footer {
    margin: 50px 70px;
  }

  .footer-top {
    flex-direction: column;
    gap: 50px;
  }

  .footer-bottom {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 50px;
  }
}

@media (max-width: 500px) {
  .footer-bottom-right {
    font-size: 16px;
    margin-bottom: 50px;
  }

  .footer-bottom-left {
    font-size: 16px;
  }

  .footer-top-left p {
    font-size: 18px;
  }

  .footer {
    margin: 50px 40px;
  }
}
